@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
body{
	font-family: 'Hanalei Fill', cursive;
	background-color: black;
}
img{
	width: 25px;
}
img:hover{
	width: 30px;
	transition: 1s;
}
form {
	border:3px solid black;
	margin: 0 auto;
	background-image: url(image.jpg);
	flex-basis:90%;
}
li{
	list-style-type: none;
	margin: 10px 0 10px 20px;
	padding: 5px;
	border:4px solid blue;
}

li:not(.active):hover{
	transition: 0.5s;
	border:4px solid black;
	border-left-color: transparent;
	border-top-color: transparent;
}
li img:active{
	width: 50px;
	transition-duration: 0.2s;
}
p {
	margin-left: 8px;
	text-align: center;
	color:white;
	cursor: pointer;
}
p:hover {
	transform: scale(1.2);
	font-size: 120%;
	transition: 1s all ease-out;
}

input, textarea{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}
label{
	display: block;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 20px;
}
input[type="checkbox"]{
	width: 35px;
  	height: 35px;
  	background-color: white;
}
input[type="checkbox"]:before {
  display:block;
  width: 15px;
  height: 15px; 
  cursor: pointer;
  background-color: white;
}
label:hover:before {
  	content: '>';
}
input[type="checkbox"]:checked {
  	appearance: none;
}
input[type="checkbox"]:checked:before {
  	content: "";
    display: inline-block;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
   	transform: translate(0%, 20%) rotate(-45deg) ;
}
input[type="button"] {
  display:block;
  min-width:20px;
  width:40%;
  height:45px;
  background-color: #00dafe; 
  font-family: 'Hanalei Fill', cursive;

}
input[type="button"]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a {
	color: black;
}
ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	}

.parent{
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin-top: 20px; 
}
.child {
	border:2px solid black;
	margin:10px;
	padding:10px;
	background-color: #0000ff;	
}
.child:hover {
	background-color: green;
	transform: scale(1.1);
	transition: 1s all ease;
}
.main-nav__wrapper {
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 15px;
	height: 95vh;
	box-sizing: border-box;
}
.main-nav__wrapper img {
	width: 45px;
}
.active img {
width: 60px;
border:4px solid black;
border-left-color: transparent;
border-top-color: transparent;
padding: 5px;
} 
@media only screen and (max-width: 330px){
	body{
		font-size: 30px;
	}
	input, textarea{
		max-width: 280px;
		min-height:50px;
	}
}
@media only screen and (max-width: 426px){
	body{
		font-size: 25px;
	}
	input, textarea{
		max-width: 280px;
		min-height:30px;
	}
}
